@font-face {
    font-family: vt323;
    src: url('fonts/vt323-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: thin_rounded;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ThinDungGeunMo.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: handjet;
    src: url(fonts/handjet_regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: nunitosans;
    src: url(fonts/nunitosans-variable.ttf) format("truetype");
    font-weight: 300;
    font-variation-settings: "wdth" 55;
}

h1 {
    font-family: vt323;
    font-weight: normal;
    font-size: 75px;
    margin: 0px
}

.h1_kor {
    font-family: thin_rounded;
    font-weight: normal;
    font-size: 35px;
    margin: 0px
}

h3 {
    font-family: handjet;
    font-weight: normal;
    font-size: 35px;
    margin: 0px
}

a.h3 {
    text-decoration: none
}

a.h3:hover {
    color: slategray
}

p {
    font-family: nunitosans;
    font-weight: normal;
    font-size: 25px;
    margin: 0px
}

a.p {
    font-family: nunitosans;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    text-decoration: none;
    color: black
}

a.p:hover{
    color: slategray
}

header {
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: row
}

body {
    margin-left: 15vw;
    margin-right: 15vw
}

@media (max-width: 925px) {
    body {
        margin-left: 15px;
        margin-right: 15px
    }
    header {
        flex-direction: column;
        align-items: normal;
        row-gap: 30px
    }
    header .lheader,
    header .rheader {
        width: 100%
    }
    body .main {
        grid-template-columns: 100%;
        row-gap: 30px
    }
}

.lheader {
    float: left;
    align-self: left;
    text-align: left;
    width: 50%;
    margin: 0px;
    display: grid;
    gap: 0px
}

.rheader {
    float: right;
    align-self: right;
    width: 50%;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: right;
    justify-items: left;
    row-gap: 0px;
    column-gap: 8px
}

.icons {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30px;
    justify-content: end;
    column-gap: 10px
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px
}

.bio {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    height: max-content;
    align-items: start
}