@font-face {
    font-family: handjet;
    src: url(fonts/handjet_regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thin_rounded;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ThinDungGeunMo.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: chathura;
    src: url('fonts/chathura_bold.ttf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: chathura;
    src: url('fonts/chathura_regular.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
    ascent-override: 90%;
    descent-override: 90%
}

@font-face {
    font-family: vt323;
    src: url('fonts/vt323-regular.ttf') format("opentype");
    font-weight: normal;
    font-style: normal
}

body {
    margin-left: 15vw;
    margin-right: 15vw
}

h1 {
    font-family: vt323;
    font-weight: normal;
    font-size: 75px;
    width: 100%;
    margin: 0px
}

.h1_kor {
    font-family: thin_rounded;
    font-weight: normal;
    font-size: 35px;
    width: 100%;
    margin: 0px
}

h3 {
    font-family: handjet;
    font-weight: normal;
    font-size: 35px;
    margin: 0px
}

header {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: end
}

.lheader {
    float: left;
    align-self: left;
    text-align: left;
    width: 50%;
    margin: 0px;
    display: grid;
    gap: 0px;
}

.rheader {
    float: right;
    align-self: right;
    text-align: right;
    width: 50%;
    margin: 0px;
    display: grid;
    gap: 0px
}

.icons {
    float: right;
    align-self: right;
    margin: 0px;
    display: grid;
    grid-auto-flow: column;
    gap: 0px
}

a.button {
    font-family: chathura;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    border: 0cm
}