@font-face {
    font-family: handjet;
    src: url(fonts/handjet_regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thin_rounded;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ThinDungGeunMo.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: chathura;
    src: url('fonts/chathura_bold.ttf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: chathura;
    src: url('fonts/chathura_regular.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: handjet;
    font-weight: normal;
    font-size: 75px
}

.h1_kor {
    font-family: thin_rounded;
    font-weight: normal;
    font-size: 30px
}

.lheader {
    overflow: visible;
    float: left
}

.rheader {
    float: right;
    position: sticky
}

a.button {
    font-family: chathura;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    border: 0cm
}