/* https://fonts.google.com/specimen/Handjet */

@font-face {
    font-family: handjet;
    src: url(fonts/handjet_regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* https://fonts.google.com/specimen/Google+Sans+Code */

@font-face {
    font-family: google_sans_code;
    src: url(fonts/googlesanscode_regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: google_sans_code;
    src: url(fonts/googlesanscode_light.ttf) format("opentype");
    font-weight: lighter;
    font-style: normal;
}

h1 {font-family: handjet;
    font-weight: normal;
    font-size: 75px;
    margin-bottom: 5px}
a.button {font-family: google_sans_code;
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 25px;
    padding: 20px;
    border: 0cm}
p {font-family: google_sans_code;
    font-weight: lighter;
    font-size: 20px}

.header {
    position: sticky;
    overflow: visible;
    float: center;
}